/* For desktop: */
body {
  font-family: Arial;
  margin-bottom: 60px;
}

* {
  box-sizing: border-box;
}

*[class*="col-"] {
  display: flex;
  flex-direction: column;
}

/* @media only screen and (min-width: 768px) { */
/* For desktop: */
.col-s-1 {
  width: 8.33%;
}

.col-s-2 {
  width: 16.66%;
}

.col-s-3 {
  width: 25%;
}

.col-s-4 {
  width: 33.33%;
}

.col-s-5 {
  width: 41.66%;
}

.col-s-6 {
  width: 50%;
}

.col-s-7 {
  width: 58.33%;
}

.col-s-8 {
  width: 66.66%;
}

.col-s-9 {
  width: 75%;
}

.col-s-10 {
  width: 83.33%;
}

.col-s-11 {
  width: 91.66%;
}

.col-s-12 {
  width: 100%;
}

@media only screen and (min-width: 768px) {

  /* For tablets: */
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}



nav {
  display: flex;
  background-color: rgb(36, 36, 36);
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.main-img>img {
  width: 100%;
  height: 100%;
}

nav>.menu {
  position: relative;
  display: inline-block;
}

nav>a,
nav>.menu>a {
  text-decoration: none;
  color: white;
  padding: 10px;
}


nav>.menu>a:last-child {
  display: none;
}

header>nav>div.responsive {
  position: absolute;
  right: 10px;
  top: 40px;
  background-color: rgb(36, 36, 36);
}

header>nav>div.responsive>a.icon {
  position: absolute;
  top: -35px;
  right: 10px;
}

@media only screen and (max-width: 768px) {

  nav>.menu>a {
    display: none;
  }

  nav>.menu>a.icon {
    display: initial;
  }

  nav>.responsive>a:not(:last-child) {
    display: flex;
    flex-direction: inherit;
  }

  nav>.menu>a:hover {
    background-color: black;
  }

}

body>.projects>h2 {
  color: rgb(117, 117, 117);
  border-bottom: solid rgb(198, 198, 198);
  width: 100%
}

div.projects>div.project {
  padding: 5px;
}

div.projects>div.project>img {
  width: 100%;
}

div.projects>div.project>button {
  height: 40px;
  margin-top: 5px;
}

footer {
  position: fixed;
  bottom: 0px;
  text-align: center;
  background-color: rgb(36, 36, 36);
  color: white;
  width: 100%;
  height: 40px;
  padding-top:10px;  
}

footer > a {
  color:white;
}